nav.navbar.navbar-default.navbar-fixed-top
	.container
		.navbar-header
			button.navbar-toggle[type="button" data-toggle="collapse" data-target="#navbar-collapse-1"]
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand[href="/"]
				= t(:g_site_name)
		#navbar-collapse-1.navbar-collapse.collapse
			ul.nav.navbar-nav
				li.dropdown
					/a.dropdown-toggle [href="#{posters_path}" data-hover="dropdown"]
					= link_to posters_path, class: 'dropdown-toggle', 'data-hover' => 'dropdown'
						= t(:g_posters)
						b.nav-caret
					ul.dropdown-menu[role="menu"]
						- for type in @p_types
							li
								a[href="/posters?by_type=#{type.id}"] = type.name
				li.dropdown
					= link_to performances_path, class: 'dropdown-toggle', 'data-hover' => 'dropdown'
						= t(:g_perfs)
						b.nav-caret
					ul.dropdown-menu [role="menu"]
						- for type in @p_types
							li
								a[href="/performances?by_type=#{type.id}"] = type.name
				li.dropdown
					= link_to theatres_path, class: 'dropdown-toggle', 'data-hover' => 'dropdown'
						= t(:g_theatres)
						b.nav-caret
					ul.dropdown-menu[role="menu"]
						- for theatre in @theatres
							li
								a[href="/theatres/#{theatre.id}"] = theatre.name
