@import 'bootstrap/mixins/image';

.article {
  a {
    font-size: 14pt;
    text-decoration: underline;
  }

  img {
    @include img-responsive;

    float: left;
    max-width: 400px;
  }
}

.article-small {
  @extend .article;

  .content {
    padding-top: 10px;

    img {
      max-width: 320px;
    }
  }

  a.btn.btn-default {
    font-size: 12pt;
    float: right;
    text-decoration: none;
  }
}