@import 'bootstrap/mixins/image';

.perf {
  padding: 10px 10px 60px 10px;

  & > img {
    @include img-responsive;
    margin: 0 auto;
    float: left;
  }

  table {
    td {
      span {
        vertical-align: middle;
      }
    }
  }

  .buy_link {
    float: right;
    padding: 3px;
    text-decoration: none;
    width: 155px;
  }
}

.perf-small {
  //@extend .perf;

  & a > img {
    @include img-responsive;
    margin: 0 auto;
    padding: 0 !important;
  }

}

.perf-types {
  min-height: 1px; // Dirty fix - for 'More' panel

  div.btn-group {
    margin: 10px 0;
  }

  a.btn {
    text-decoration: none;
  }

  a.btn.selected {
    color: #fff;
    background-color: #6b9dbb;
    border-color: #538db0
  }
}